In [1]:
from zipfile import ZipFile
import numpy as np
import pandas as pd
import os
# from io import StringIO
import io
from PIL import Image
from scipy import misc
import matplotlib.pyplot as plt
import time
import math

%matplotlib inline

In [43]:
def load_labels(filename):
    if (os.path.exists(filename)):
        # print filename
        return pd.read_csv(ZipFile(filename, 'r').open('labels.csv'))

In [44]:
labels = load_labels('data/labels.csv.zip')

In [59]:
labels.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>breed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>000bec180eb18c7604dcecc8fe0dba07</td>
      <td>boston_bull</td>
    </tr>
    <tr>
      <th>1</th>
      <td>001513dfcb2ffafc82cccf4d8bbaba97</td>
      <td>dingo</td>
    </tr>
    <tr>
      <th>2</th>
      <td>001cdf01b096e06d78e9e5112d419397</td>
      <td>pekinese</td>
    </tr>
    <tr>
      <th>3</th>
      <td>00214f311d5d2247d5dfe4fe24b2303d</td>
      <td>bluetick</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0021f9ceb3235effd7fcde7f7538ed62</td>
      <td>golden_retriever</td>
    </tr>
  </tbody>
</table>
</div>

In [60]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10222 entries, 0 to 10221
Data columns (total 2 columns):
id       10222 non-null object
breed    10222 non-null object
dtypes: object(2)
memory usage: 159.8+ KB

In [61]:
labels.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>breed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>10222</td>
      <td>10222</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>10222</td>
      <td>120</td>
    </tr>
    <tr>
      <th>top</th>
      <td>b646b8f2863d2e5ccf87b79024f4d517</td>
      <td>scottish_deerhound</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>1</td>
      <td>126</td>
    </tr>
  </tbody>
</table>
</div>

In [88]:
data_output_dir = 'tf_poets/data/dog_breeds/'

In [23]:
all_breeds = ['affenpinscher', 'afghan_hound', 'african_hunting_dog', 'airedale', 'american_staffordshire_terrier', 'appenzeller', 'australian_terrier', 'basenji', 'basset', 'beagle', 'bedlington_terrier', 'bernese_mountain_dog', 'black-and-tan_coonhound', 'blenheim_spaniel', 'bloodhound', 'bluetick', 'border_collie', 'border_terrier', 'borzoi', 'boston_bull', 'bouvier_des_flandres', 'boxer', 'brabancon_griffon', 'briard', 'brittany_spaniel', 'bull_mastiff', 'cairn', 'cardigan', 'chesapeake_bay_retriever', 'chihuahua', 'chow', 'clumber', 'cocker_spaniel', 'collie', 'curly-coated_retriever', 'dandie_dinmont', 'dhole', 'dingo', 'doberman', 'english_foxhound', 'english_setter', 'english_springer', 'entlebucher', 'eskimo_dog', 'flat-coated_retriever', 'french_bulldog', 'german_shepherd', 'german_short-haired_pointer', 'giant_schnauzer', 'golden_retriever', 'gordon_setter', 'great_dane', 'great_pyrenees', 'greater_swiss_mountain_dog', 'groenendael', 'ibizan_hound', 'irish_setter', 'irish_terrier', 'irish_water_spaniel', 'irish_wolfhound', 'italian_greyhound', 'japanese_spaniel', 'keeshond', 'kelpie', 'kerry_blue_terrier', 'komondor', 'kuvasz', 'labrador_retriever', 'lakeland_terrier', 'leonberg', 'lhasa', 'malamute', 'malinois', 'maltese_dog', 'mexican_hairless', 'miniature_pinscher', 'miniature_poodle', 'miniature_schnauzer', 'newfoundland', 'norfolk_terrier', 'norwegian_elkhound', 'norwich_terrier', 'old_english_sheepdog', 'otterhound', 'papillon', 'pekinese', 'pembroke', 'pomeranian', 'pug', 'redbone', 'rhodesian_ridgeback', 'rottweiler', 'saint_bernard', 'saluki', 'samoyed', 'schipperke', 'scotch_terrier', 'scottish_deerhound', 'sealyham_terrier', 'shetland_sheepdog', 'shih-tzu', 'siberian_husky', 'silky_terrier', 'soft-coated_wheaten_terrier', 'staffordshire_bullterrier', 'standard_poodle', 'standard_schnauzer', 'sussex_spaniel', 'tibetan_mastiff', 'tibetan_terrier', 'toy_poodle', 'toy_terrier', 'vizsla', 'walker_hound', 'weimaraner', 'welsh_springer_spaniel', 'west_highland_white_terrier', 'whippet', 'wire-haired_fox_terrier', 'yorkshire_terrier']

In [105]:
for breed in all_breeds:
    os.mkdir(data_output_dir + breed)

In [102]:
# with ZipFile('data/train.zip') as zf:
#     data = io.BytesIO(zf.read(zf.namelist()[105]))
#     file_name = zf.namelist()[105]
#     if not file_name.endswith('.jpg'):
#         print("Not JPG")
#     else:
#         file_name = file_name.replace('train/', '')
#         img = Image.open(data)
#         # df = labels.loc[labels['id'] == file_name.replace('.jpg', ''), 'breed']
#         folder_name = labels.loc[labels['id'] == file_name.replace('.jpg', ''), 'breed'].values[0]
#         print(folder_name)
#         img.save(data_output_dir + folder_name + '/' + file_name)

english_setter

In [106]:
def group_images(filename):
    if os.path.exists(filename):
        with ZipFile(filename, 'r') as zf:
            # print(zf.namelist())
            # print(len(zf.namelist()))
            #starting from 1 coz 1st element in namelist is folder name
            for i in range(1, len(zf.namelist())):
                data = io.BytesIO(zf.read(zf.namelist()[i]))
                file_name = zf.namelist()[i]
                if not file_name.endswith('.jpg'):
                    print("Not JPG")
                else:
                    file_name = file_name.replace('train/', '')
                    img = Image.open(data)
                    # df = labels.loc[labels['id'] == file_name.replace('.jpg', ''), 'breed']
                    folder_name = labels.loc[labels['id'] == file_name.replace('.jpg', ''), 'breed'].values[0]
                    # print(folder_name)
                    img.save(data_output_dir + folder_name + '/' + file_name)

In [107]:
group_images('data/train.zip')